# Comparitive Analysis of Crime in New York and Los Angeles

The first step is to import any and all required libraries. Here we import folium a library used to create convenient map API and the numpy and pandas library in order to use the numpy and pandas database functions which makes modifying, adjusting, and comparing the datasets much easier.

In [1]:
import folium
import pandas 
import numpy

# Data Collection

The next step is to import our datasets. We are looking to compare crime in major cities on the east coast vs the west coast. In order to do this we will look at case studies between New York and Los Angelos, the two biggest cities on each coast (by biggest we mean most populated).

We will start by importing the LA dataset. The crime dataset we are using for LA is provided by the local Los Angeles government for years 2010 to 2019. I have downloaded the csv file and uploaded them to Jupyter notebook so that we can read the file into a pandas data table using the pandas read_csv function.

In [2]:
la = pandas.read_csv("LA_CrimeData_2010-2019.csv")
la

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060943,190608903,03/28/2019 12:00:00 AM,03/28/2019 12:00:00 AM,400,6,Hollywood,644,1,648,ARSON,...,IC,Invest Cont,648.0,NaN,NaN,NaN,1400 N LA BREA AV,NaN,34.0962,-118.3490
2060944,190715222,08/15/2019 12:00:00 AM,08/14/2019 12:00:00 AM,1810,7,Wilshire,701,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),...,IC,Invest Cont,331.0,NaN,NaN,NaN,WILLOUGHBY AV,ORLANDO AV,34.0871,-118.3732
2060945,192004409,01/06/2019 12:00:00 AM,01/06/2019 12:00:00 AM,2100,20,Olympic,2029,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,IC,Invest Cont,930.0,NaN,NaN,NaN,6TH,VIRGIL,34.0637,-118.2870
2060946,191716777,10/17/2019 12:00:00 AM,10/16/2019 12:00:00 AM,1800,17,Devonshire,1795,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,17200 NAPA ST,NaN,34.2266,-118.5085
2060947,190805435,02/01/2019 12:00:00 AM,02/01/2019 12:00:00 AM,1615,8,West LA,852,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,NaN,NaN,NaN,1700 BARRY AV,NaN,34.0420,-118.4531

Additionally, I downloaded the dataset for New York City crimes from NYPD open data, which shows the data of crimes in New York City from the years 2006 to 2019. I uploaded it to Jupyter notebook in order to be able to read it using the pandas read_csv function into a data table.

In [3]:
ny = pandas.read_csv("NY_CrimeData_2006-2019.csv")

/var/folders/gf/98wnlby10hj9q8qx27qcwdzw0000gn/T/ipykernel_18274/2320568930.py:1: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  ny = pandas.read_csv("NY_CrimeData_2006-2019.csv")

# Data Processing

Now we want to clean up the database so that we are only looking at data from the years 2010 to 2019 since our more restricted data set (the LA dataset) only has dates from 2010-2019. This way we will be comparing data from both sides of the coast during the same time period.

Let's start with LA. Although the data provided is from 2010-2019, we will run through the process of cleaning the dates for future use and in order to be extra careful. 
Here we run into one issue: the date and time are grouped into one column. We will split this column into day and month, year, and time.

Here we are parsing the column in the LA dataset using the str.split function and appending the time and whether it occured in the AM or PM together into a new time column in the database.

In [4]:
la['TIME']=(la['DATE OCC'].str.split().str[1])+(la['DATE OCC'].str.split().str[2])
la['TIME']

0          12:00:00AM
1          12:00:00AM
2          12:00:00AM
3          12:00:00AM
4          12:00:00AM
              ...
2060943    12:00:00AM
2060944    12:00:00AM
2060945    12:00:00AM
2060946    12:00:00AM
2060947    12:00:00AM
Name: TIME, Length: 2060948, dtype: object

Now we will parse the same original LA dataset data-and-time column to create a new column for the date again using the str.split function.

In [5]:
la['DATE']=(la['DATE OCC'].str.split().str[0])
la['DATE']

0          02/20/2010
1          09/12/2010
2          08/09/2010
3          01/05/2010
4          01/02/2010
              ...
2060943    03/28/2019
2060944    08/14/2019
2060945    01/06/2019
2060946    10/16/2019
2060947    02/01/2019
Name: DATE, Length: 2060948, dtype: object

In order to make our life easier, we will create a column to only hold the year, so that we can easily check to see which rows we would want to drop in order to only have data for 2010-2019. We use the str.split function to isolate the year and the astype function to change the year from being stored as a string to being stored as an int.

In [6]:
la['YEAR']=la['DATE'].str.split('/').str[2]
la['YEAR']=la['YEAR'].astype(int)

la['YEAR']

0          2010
1          2010
2          2010
3          2010
4          2010
           ...
2060943    2019
2060944    2019
2060945    2019
2060946    2019
2060947    2019
Name: YEAR, Length: 2060948, dtype: int64

In [7]:
la.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,TIME,DATE,YEAR
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695,12:00:00AM,02/20/2010,2010
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962,12:00:00AM,09/12/2010,2010
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524,12:00:00AM,08/09/2010,2010
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295,12:00:00AM,01/05/2010,2010
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488,12:00:00AM,01/02/2010,2010

 Now that we have the columns for date and time parsed, we can remove all rows that do not fall under the year 2010-2019.

In [8]:
la = la[la['YEAR'] >= 2010]
la = la[la['YEAR']<=2019]
la

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,TIME,DATE,YEAR
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695,12:00:00AM,02/20/2010,2010
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962,12:00:00AM,09/12/2010,2010
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524,12:00:00AM,08/09/2010,2010
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295,12:00:00AM,01/05/2010,2010
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488,12:00:00AM,01/02/2010,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060943,190608903,03/28/2019 12:00:00 AM,03/28/2019 12:00:00 AM,400,6,Hollywood,644,1,648,ARSON,...,NaN,NaN,NaN,1400 N LA BREA AV,NaN,34.0962,-118.3490,12:00:00AM,03/28/2019,2019
2060944,190715222,08/15/2019 12:00:00 AM,08/14/2019 12:00:00 AM,1810,7,Wilshire,701,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),...,NaN,NaN,NaN,WILLOUGHBY AV,ORLANDO AV,34.0871,-118.3732,12:00:00AM,08/14/2019,2019
2060945,192004409,01/06/2019 12:00:00 AM,01/06/2019 12:00:00 AM,2100,20,Olympic,2029,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,NaN,NaN,NaN,6TH,VIRGIL,34.0637,-118.2870,12:00:00AM,01/06/2019,2019
2060946,191716777,10/17/2019 12:00:00 AM,10/16/2019 12:00:00 AM,1800,17,Devonshire,1795,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,NaN,NaN,NaN,17200 NAPA ST,NaN,34.2266,-118.5085,12:00:00AM,10/16/2019,2019
2060947,190805435,02/01/2019 12:00:00 AM,02/01/2019 12:00:00 AM,1615,8,West LA,852,1,330,BURGLARY FROM VEHICLE,...,NaN,NaN,NaN,1700 BARRY AV,NaN,34.0420,-118.4531,12:00:00AM,02/01/2019,2019

Now we will repeat this process for the NYC database, specifically on the from date and time. We are not concerned about the duration of the crime.
Additionally, we will relabel the time and date columns so that it mirrors that of the la database.

ny

In [ ]:
#Here we are renaming the time column. 
ny['TIME']= ny['CMPLNT_FR_TM']
ny['TIME']

In [ ]:
ny['DATE']=(ny['CMPLNT_FR_DT'].str.split().str[0])
ny['DATE']

Before we can continue with parsing the date data, we have to decide how we want to deal with missing date and time data. Because the dataset lacks context for us to be able to make a hypothesis about whem the missing crimes were committed and it doesn't make sense to assign an average date and time, we will remove the rows with missing date and time values. (Note: we did not run into this issue in the LA dataset because we were not missing and date and/or time data.

In [ ]:
ny = ny.dropna(subset = ['DATE'])
ny['YEAR']=ny['DATE'].str.split('/').str[2]

ny['YEAR']=ny['YEAR'].astype(int)

In [ ]:
shift_column = ny.pop('YEAR')
ny.insert(2, 'YEAR', shift_column)

ny = ny[ny['YEAR'] >= 2010]

In [ ]:
ny = ny[ny['YEAR'] <= 2019]

In [ ]:
ny.sort_values(by=['YEAR'])

To keep the datasets organized and less cluttered, we will remove any columns that we are not particularly interested in analyzing.

In [9]:
#dropping unused columns in the la dataset
la=la.drop(columns=['Date Rptd','Vict Descent','Premis Desc','Weapon Used Cd','Premis Cd','Mocodes','DR_NO','Rpt Dist No','Part 1-2','Weapon Desc','Status','Status Desc','Crm Cd 1','Crm Cd 2','Crm Cd 3','Crm Cd 4','Cross Street'])
la

,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,LOCATION,LAT,LON,TIME,DATE,YEAR
0,02/20/2010 12:00:00 AM,1350,13,Newton,900,VIOLATION OF COURT ORDER,48,M,300 E GAGE AV,33.9825,-118.2695,12:00:00AM,02/20/2010,2010
1,09/12/2010 12:00:00 AM,45,14,Pacific,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,M,SEPULVEDA BL,33.9599,-118.3962,12:00:00AM,09/12/2010,2010
2,08/09/2010 12:00:00 AM,1515,13,Newton,946,OTHER MISCELLANEOUS CRIME,0,M,1300 E 21ST ST,34.0224,-118.2524,12:00:00AM,08/09/2010,2010
3,01/05/2010 12:00:00 AM,150,6,Hollywood,900,VIOLATION OF COURT ORDER,47,F,CAHUENGA BL,34.1016,-118.3295,12:00:00AM,01/05/2010,2010
4,01/02/2010 12:00:00 AM,2100,1,Central,122,"RAPE, ATTEMPTED",47,F,8TH ST,34.0387,-118.2488,12:00:00AM,01/02/2010,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060943,03/28/2019 12:00:00 AM,400,6,Hollywood,648,ARSON,0,X,1400 N LA BREA AV,34.0962,-118.3490,12:00:00AM,03/28/2019,2019
2060944,08/14/2019 12:00:00 AM,1810,7,Wilshire,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),40,M,WILLOUGHBY AV,34.0871,-118.3732,12:00:00AM,08/14/2019,2019
2060945,01/06/2019 12:00:00 AM,2100,20,Olympic,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,46,F,6TH,34.0637,-118.2870,12:00:00AM,01/06/2019,2019
2060946,10/16/2019 12:00:00 AM,1800,17,Devonshire,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,17200 NAPA ST,34.2266,-118.5085,12:00:00AM,10/16/2019,2019
2060947,02/01/2019 12:00:00 AM,1615,8,West LA,330,BURGLARY FROM VEHICLE,33,F,1700 BARRY AV,34.0420,-118.4531,12:00:00AM,02/01/2019,2019

In [11]:
#dropping unused columns in the NY dataset
ny=ny.drop(columns=['STATION_NAME','PATROL_BORO','HOUSING_PSA','HADEVELOPT','PARKS_NM','JURISDICTION_CODE','PREM_TYP_DESC','SUSP_RACE','SUSP_AGE_GROUP','JURIS_DESC','LOC_OF_OCCUR_DESC','LAW_CAT_CD','CRM_ATPT_CPTD_CD','PD_DESC','CMPLNT_NUM','CMPLNT_TO_DT','CMPLNT_TO_TM','ADDR_PCT_CD','RPT_DT','KY_CD','PD_CD','SUSP_SEX','TRANSIT_DISTRICT'])
ny

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,BORO_NM,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,12/31/2019,17:30:00,DANGEROUS WEAPONS,MANHATTAN,999937.0,238365.0,40.820927,-73.943324,"(40.82092679700002, -73.94332421899996)",UNKNOWN,UNKNOWN,E
1,12/29/2019,16:31:00,FORGERY,BRONX,1022508.0,261990.0,40.885701,-73.861640,"(40.885701406000074, -73.86164032499995)",UNKNOWN,UNKNOWN,E
2,12/15/2019,18:45:00,HARRASSMENT 2,QUEENS,1034178.0,209758.0,40.742281,-73.819824,"(40.74228115600005, -73.81982408)",25-44,WHITE HISPANIC,F
3,12/28/2019,01:00:00,MISCELLANEOUS PENAL LAW,BRONX,1026412.0,258211.0,40.875311,-73.847545,"(40.87531145100007, -73.84754521099995)",UNKNOWN,UNKNOWN,E
4,09/05/2008,21:41:00,MURDER & NON-NEGL. MANSLAUGHTER,NaN,1001215.0,193881.0,40.698827,-73.938819,"(40.698827283, -73.938819047)",25-44,BLACK,M
...,...,...,...,...,...,...,...,...,...,...,...,...
7375988,12/17/2018,03:00:00,VEHICLE AND TRAFFIC LAWS,BRONX,1026486.0,262591.0,40.887333,-73.847250,"(40.887332818, -73.847250013)",25-44,WHITE HISPANIC,F
7375989,06/05/2018,23:30:00,GRAND LARCENY OF MOTOR VEHICLE,BRONX,1018029.0,240747.0,40.827414,-73.877946,"(40.827414051, -73.877945775)",25-44,BLACK,M
7375990,02/10/2018,08:30:00,PETIT LARCENY,BRONX,1010861.0,243330.0,40.834528,-73.903836,"(40.834528146, -73.903836069)",45-64,BLACK,F
7375991,12/11/2018,07:30:00,ASSAULT 3 & RELATED OFFENSES,MANHATTAN,1001322.0,235045.0,40.811812,-73.938329,"(40.81181176, -73.938328651)",<18,BLACK,M
7375992,05/10/2018,11:30:00,PETIT LARCENY,QUEENS,1016138.0,214586.0,40.755616,-73.884903,"(40.755616236, -73.884902833)",25-44,WHITE HISPANIC,F

# Exploratory Analysis and Data Visualization

# Analysis and Hypothesis Testing

In [ ]:
#number of crimes vs year with regression analysis & hypothesis testing
#NY
x = ny['YEAR'].value_counts().tolist()
y = ny['YEAR'].value_counts().index.tolist()

s = x
t = y
import matplotlib.pyplot as plt
plt.scatter(y, x)
plt.title('Number of Crimes Committed per Year in New York')
plt.xlabel("Year")
plt.ylabel("Number of Crimes")
plt.show()

In [ ]:
import seaborn as sns
from sklearn import linear_model
from statsmodels.formula.api import ols

df = pandas.DataFrame()

df['Crimes'] = s
df['Year'] = t


plt.figure(figsize = (8, 6))
sns.regplot(x = "Year", y = "Crimes", data = df, color = 'blue')
plt.title('Number of Crimes vs Time for New York',color = 'green', fontsize = '18') 
plt.xlabel("Year")
plt.ylabel("Crimes")

In [ ]:
regression = ols(formula = 'Crimes ~ Year', data = df).fit()
print(regression.summary())

# Final Insights

In this tutorial we looked at the following:
1) How to read data from a CSV file using pandas

2) How to clean and parse the databases 

3) How to create bargraphs and scatter plots

4) How to analyze the data using hypothesis testing and linear regression

5) How to plot/create visualizations of the linear regression 

6) How to create interactive maps